/* reset margin và padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.banner {
    background: url('./banner.jpg') center center no-repeat;
    height: 850px;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about, .sign-in {
    text-decoration: none;
    padding: 7px 15px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-in {
    margin-right: 330px;
    margin-left: 25px;
    border: 2px solid rgb(93, 163, 50);
    border-radius: 20px;
    color: rgb(93, 163, 50);
}

.logo {
    background: url('./hapoERP.png') center center no-repeat;
    margin-top: 100px;
    height: 200px;
}

.text {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.btn-start-now {
    text-align: center;
}

button {
    border: 2px solid rgb(9, 9, 9);
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 25px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(rgb(20, 136, 20), rgb(82, 136, 19));
    color: aliceblue;
    width: 200px;
}

.left {
    width: 33%;
    display: inline-block;
    text-align: right;
}

.center {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right {
    width: 33%;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-center {
    display: block;
    font-size: 30px;  
    margin-top: 20px;
    margin-bottom: 20px;  
}


